<nav class="navbar navbar-light" style="background-color: #42bcf4;">
  <!-- Navbar content -->
  <ul class="navbar-nav bd-navbar-nav flex-row">
      <li class="nav-item active">
        <button class="btn btn-dark" routerLink="articles">Articles</button>
      </li>&nbsp;&nbsp;
      <li class="nav-item active">
          <button class="btn btn-light" routerLink="products">Products</button>
      </li>
  </ul>
</nav>

<router-outlet></router-outlet>

<footer class="footer">
  <div class="container">
      <p class="text-muted">&copy; Copyright 2018 |  Products Managment System </p>
  </div>
</footer>
